.home{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow: hidden;
}

section.segmented{
    position: relative;
    display: grid;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 100px 20vw;
    z-index: 10;
    grid-template-columns: 1fr 1fr; /* Divide la sección en dos columnas iguales */
    gap: 10px; /* Espacio entre las columnas */
    padding: 10px;
}

.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.left{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left: 15vw;
}
.right {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25vw;
}

.homeTitle{
    text-align: left;
    font-size: 62px;
    font-family: 'Museo Sans', sans-serif;
    font-style: 'Rounded';
    font-weight: normal 700;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
    margin-bottom: 5px;
}

.homeText{
    text-align: left;
    font-size: 24px/33px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.HowItWorksFixed{
    margin-right: 10vw;
    margin-left: 8vw;
    margin-top: -30vh;
}

.HowItWorksTitle{
    font-size: 36px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    color: #FF6752;
    letter-spacing: 0px;
    margin-bottom: 0;
}

.HowItWorksText{
    text-align: left;
    color: #808080;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 4.5vh;
}

.last{
    position: relative;
    margin: 0;
    margin-bottom: -21vh;
    margin-top: -40vh;
}

.auxLast{
    margin-bottom: -21vh;
    margin-top: -120vh;
}

.golden {
    position: relative;
    width: 20vw;  
    height: 34vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vw;
    
  }
.goldenCircle {
    position: absolute;
    width: 18vw;
    height: 36vh;
    border-radius: 50%;
    background-color: #fbbf24; /* Yellow background */
}
.golden img {
    width: 20vw;
    position: relative;
    object-fit: cover;
    object-position: center;
    transform: translateY(20%);
}

.blueVariant {
    background-color: #4487FF;
}